backend/backend-soap/src/main/resources/wsdl/reservation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                 xmlns:tns="http://hotel.com/soap"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://hotel.com/soap">
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://hotel.com/soap">
            <xsd:element name="CreateReservationRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="clientId" type="xsd:long"/>
                        <xsd:element name="chambreId" type="xsd:long"/>
                        <xsd:element name="dateDebut" type="xsd:date"/>
                        <xsd:element name="dateFin" type="xsd:date"/>
                        <xsd:element name="preferences" type="xsd:string" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="CreateReservationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:long"/>
                        <xsd:element name="clientId" type="xsd:long"/>
                        <xsd:element name="chambreId" type="xsd:long"/>
                        <xsd:element name="dateDebut" type="xsd:date"/>
                        <xsd:element name="dateFin" type="xsd:date"/>
                        <xsd:element name="preferences" type="xsd:string" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetReservationRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="GetReservationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:long"/>
                        <xsd:element name="clientId" type="xsd:long"/>
                        <xsd:element name="chambreId" type="xsd:long"/>
                        <xsd:element name="dateDebut" type="xsd:date"/>
                        <xsd:element name="dateFin" type="xsd:date"/>
                        <xsd:element name="preferences" type="xsd:string" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="UpdateReservationRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:long"/>
                        <xsd:element name="clientId" type="xsd:long" minOccurs="0"/>
                        <xsd:element name="chambreId" type="xsd:long" minOccurs="0"/>
                        <xsd:element name="dateDebut" type="xsd:date" minOccurs="0"/>
                        <xsd:element name="dateFin" type="xsd:date" minOccurs="0"/>
                        <xsd:element name="preferences" type="xsd:string" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="UpdateReservationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:long"/>
                        <xsd:element name="clientId" type="xsd:long"/>
                        <xsd:element name="chambreId" type="xsd:long"/>
                        <xsd:element name="dateDebut" type="xsd:date"/>
                        <xsd:element name="dateFin" type="xsd:date"/>
                        <xsd:element name="preferences" type="xsd:string" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="DeleteReservationRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="DeleteReservationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="success" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="CreateReservationRequest">
        <wsdl:part element="tns:CreateReservationRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="CreateReservationResponse">
        <wsdl:part element="tns:CreateReservationResponse" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="GetReservationRequest">
        <wsdl:part element="tns:GetReservationRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetReservationResponse">
        <wsdl:part element="tns:GetReservationResponse" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="UpdateReservationRequest">
        <wsdl:part element="tns:UpdateReservationRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="UpdateReservationResponse">
        <wsdl:part element="tns:UpdateReservationResponse" name="parameters"/>
    </wsdl:message>
    
    <wsdl:message name="DeleteReservationRequest">
        <wsdl:part element="tns:DeleteReservationRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DeleteReservationResponse">
        <wsdl:part element="tns:DeleteReservationResponse" name="parameters"/>
    </wsdl:message>
    
    <wsdl:portType name="ReservationPort">
        <wsdl:operation name="CreateReservation">
            <wsdl:input message="tns:CreateReservationRequest"/>
            <wsdl:output message="tns:CreateReservationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetReservation">
            <wsdl:input message="tns:GetReservationRequest"/>
            <wsdl:output message="tns:GetReservationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateReservation">
            <wsdl:input message="tns:UpdateReservationRequest"/>
            <wsdl:output message="tns:UpdateReservationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteReservation">
            <wsdl:input message="tns:DeleteReservationRequest"/>
            <wsdl:output message="tns:DeleteReservationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="ReservationBinding" type="tns:ReservationPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateReservation">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetReservation">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateReservation">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteReservation">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="ReservationService">
        <wsdl:port binding="tns:ReservationBinding" name="ReservationPort">
            <soap:address location="http://localhost:8081/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>

